SPRING_ENV=dev
SPRING_APP_NAME=ProductMicroservice
SPRING_LOG_LEVEL=WARN

SPRING_JWT_SECRET=secret-key
SPRING_JWT_PUBLIC=/**,/v3/api-docs/**,/swagger-ui/**
SPRING_JWT_ISSUER=login-service
SPRING_EUREKA_URL=http://localhost:8123/eureka

HOST_PORT=8005
HOST_DB_PORT=3205

MYSQL_DATABASE=product
MYSQL_HOST=localhost
MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=root_password
MYSQL_USER=user

PHPMYADMIN_PORT=8105
DOCKER_DOMAIN_NETWORK=fullstack_network